<div>
    <div class="pizza-builder-container">
      <h1 class="pizza-builder-heading">PizzaMania</h1>
      <h2 class="pizza-builder-heading">Build Your Customizable Pizza</h2>
      <div class="pizza-builder-form">
        <div class="pizza-image">
          <img class="pizza-img" src="assets/pizzaImages/BaseImage.jpg" alt="Pizza">
        </div>

        <app-diet-options (dietSelected)="onDietSelected($event)"></app-diet-options>

        <app-crust-size (crustSizeSelected)="onCrustSizeSelected($event)"></app-crust-size>

        <app-sauce (sauceSelected)="onSauceSelected($event)"></app-sauce>

        <app-cheese (cheeseSelected)="onCheeseSelected($event)"></app-cheese>

        <app-toppings (toppingsSelected)="onToppingsSelected($event)"></app-toppings>

        <!-- Display Total Cost -->
        <div class="total-cost">
            <p>Total Cost: {{ totalCost  | currency:'INR':'symbol' }}</p>
        </div>

        <!-- Place Order Button -->
        <button class="btn" (click)="placeOrder()">Place Order</button>

        <!-- Order Confirmation Message -->
        <div *ngIf="orderPlaced">
          <p>Congratulations! Your order with ID <strong>{{ orderId }}</strong> has been placed successfully.</p>
          <p>Track your order <a [routerLink]="['/order-tracking']">here</a>.</p>
        </div>
      </div>      
  </div>