<div class="form-group">
    <label class="form-label">Choose Pizza Type:</label>
    <label class="form-label">
      <input type="radio" name="pizzaType" value="vegetarian" [(ngModel)]="selectedDiet" (change)="updateSelectedDiet('vegetarian')"> Vegetarian
    </label>
    <label class="form-label">
      <input type="radio" name="pizzaType" value="nonvegetarian" [(ngModel)]="selectedDiet" (change)="updateSelectedDiet('nonvegetarian')"> Non-Vegetarian
    </label>
  
    <!-- Display options based on selected diet -->
    <div *ngIf="selectedDiet === 'vegetarian'">
      <!-- Future scope - Include vegetarian options -->
    </div>
    <div *ngIf="selectedDiet === 'nonvegetarian'">
      <!-- Future scope - Include non-vegetarian options -->
    </div>
  </div>  
